.content{
    text-align: center;
    font-size: 15Px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 18Px;
    padding: 15Px;
    border-bottom: 1Px solid #F0F0F0  ;
}